<div class="row">
  <div class="col-md-4" style="margin-top: 150px">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Promedio:</h5>
        <p class="card-text">Teniendo en cuenta el SMMLV 2023 a $1.160.000 el promedio de estudiantes foráneos que pueden vivir con un salario mínimo en colombia es: {{this.number.toLocaleString(undefined,{style:'percent'})}}</p>
      </div>
    </div>
  </div>
  <div class="col-md-6" style="margin-left: auto">
    <div class="chart-container">
      <canvas id="myChart"></canvas>
    </div>
  </div>
</div>
