.btn-custom{
    background-color: rgb(111, 104, 241);
    color: rgb(255, 255, 255);
    font-weight: bold;
    margin: 3px;
}

.btn-custom1{
    background-color: rgb(199, 14, 14);
    color: rgb(255, 255, 255);
    font-weight: bold;
    margin: 3px;
}
