<div class="container col-md-6">
    <div class="card">
        <div class="card-header">
            <h3 class="text-center">Añadir un estudiante</h3>
        </div>
        <div class="card-body">
            <form action="">
                <div class="form-group">
                    <label>Nombre:</label>
                    <input type="text" class="form-control" [(ngModel)]="student.name" name="name">
                </div>

                <div class="form-group">
                    <label>Apellido:</label>
                    <input type="text" class="form-control" [(ngModel)]="student.lastName" name="lastName">
                </div>

                <div class="form-group">
                    <label>Email:</label>
                    <input type="email" class="form-control" [(ngModel)]="student.email" name="email">
                </div>

                <div class="form-group">
                    <label>Dinero gastado mensualmente en mercado:</label>
                    <input type="text" class="form-control" [(ngModel)]="student.spentMarket" name="spentMarket" (input)="validateNumberFormat('spentMarket')">
                    <div *ngIf="showMarketAlert" class="alert alert-danger">Ingrese solo números sin puntos en el campo de gasto en mercado.</div>
                  </div>

                  <div class="form-group">
                    <label>Dinero gastado mensualmente en vivienda:</label>
                    <input type="text" class="form-control" [(ngModel)]="student.spentRent" name="spentRent" (input)="validateNumberFormat('spentRent')">
                    <div *ngIf="showRentAlert" class="alert alert-danger">Ingrese solo números sin puntos en el campo de gasto en renta.</div>
                  </div>

                  <div class="form-group">
                    <label>Dinero gastado mensualmente en transporte:</label>
                    <input type="text" class="form-control" [(ngModel)]="student.spentTransport" name="spentTransport" (input)="validateNumberFormat('spentTransport')">
                    <div *ngIf="showTransportAlert" class="alert alert-danger">Ingrese solo números sin puntos en el campo de gasto en transporte.</div>
                  </div>

                <div class="form-group">
                    <label>¿Paga arriendo?</label>
                    <select class="form-control" [(ngModel)]="student.payRent" name="payRent">
                      <option value="true">Sí</option>
                      <option value="false">No</option>
                    </select>
                  </div>

                <button (click)="saveStudent()" class="btn btn-danger">Guardar</button>
            </form>
        </div>
    </div>
</div>

