<h1 class="text-center" style="margin-top: 20px;">{{title}}</h1>
<nav class="navbar navbar-expand-lg navbar-custom">
  <div class="container">
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <button (click)="list()" class="btn btn-link nav-link text-custom">Listar</button>
        </li>
        <li class="nav-item">
          <button (click)="addStudent()" class="btn btn-link nav-link text-custom">Añadir estudiante</button>
        </li>
        <li class="nav-item">
          <button (click)="filterStudentById()" class="btn btn-link nav-link text-custom">Buscar estudiante</button>
        </li>
        <li class="nav-item">
          <button (click)="avgRent()" class="btn btn-link nav-link text-custom">Promedio arriendo</button>
        </li>
        <li class="nav-item">
          <button (click)="filterStudentById()" class="btn btn-link nav-link text-custom">Promedio de estudiantes que pueden<br>vivir con un salario mínimo</button>
        </li>
        <li class="nav-item">
          <button (click)="avgSpent()" class="btn btn-link nav-link text-custom">Promedio gastos mensuales</button>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>
